h1, h2, h3, p {
    font-family: 'Poppins';
    color:$black
}

h1,
.h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.7;
    @include media-breakpoint-down(xl) {
        font-size: 56px;
    }
    @include media-breakpoint-down(md){
        font-size: 40px;
    }
    @include media-breakpoint-down(sm){
        font-size: 22px;
    }
}

h2,
.h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    @include media-breakpoint-down(xl) {
        font-size: 32px;
        line-height: 32px;
    }

    @include media-breakpoint-down(md) {
        font-size: 28px;
        line-height: 28px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 22px;
        line-height: 24px;
    }
}

h3,
.h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    @include media-breakpoint-down(xl) {
        font-size: 28px;
        line-height: 32px;
    }

    @include media-breakpoint-down(md) {
        font-size: 26px;
        line-height: 28px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 22px;
        line-height: 24px;
    }
}

h4, .h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    @include media-breakpoint-down(xl) {
        font-size: 24px;
        line-height: 36px;
    }

    @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 30px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 24px;
    }
}

.new-article {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: $dark-grey;
    @include media-breakpoint-down(xl) {
        font-size: 16px;
        line-height: 24px;
    }

    @include media-breakpoint-down(md) {
        font-size: 16px;
        line-height: 22px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 20px;
    }
}

.article {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $black;
}

.team {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $black;
}

a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $dark;
    text-decoration: none;
}

button.material, button.qa, button.ux, button.management, button.mobile, button.web{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    padding: 0 6px;
    border: none;
    border-radius: 5px;
    color: $white;
}

button.material{
    color: $black;
    background-color: $white;
    border: 1px solid $black;
}

button.qa{
    background-color: $green;
}

button.ux{
    background-color: $orange;
}

button.management{
    background-color: $violet;
}

button.mobile{
    background-color: $dark-blue;
}

button.web{
    background-color: $coral;
}