// variables //

$main-font: "Poppins", sans-serif;
$secondary-font: "Jost", sans-serif;
$black: #1C2B32;
$white: #FDFDFD;
$dark: #535B5E;
$light-green: #4EBA85;
$dark-green: #434343;
$dark-grey: #6A6C6C;
$grey: #9595AB;
$total-white: #FFFFFF;
$brown: rgba(255, 255, 255, 0.16);
$pink: #EC79B7;
$violet: #B379EC;
$blue: #79C9EC;
$orange: #F6C050;
$green: #48C287;
$dark-blue: #4386D1;
$coral: #EC7D79;
