<section class="contact">
    <div class="row">
        <div class="col-10">
            <h4>Get in touch</h4>
            
            <p>Describe your issue below. Our manager will contact you as soon as possible.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <form>
                <div class="form-floating">
                    <input type="name" class="form-control" id="floatingName" placeholder="Name">
                    <label for="floatingName"></label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                    <label for="floatingInput"></label>
                </div>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Message" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea"></label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>    
        </div>
        
  
</section>