<section class="contact">
    
    <div class="container">

        <div class="row">
            <div class="col">
                <h2>Ready to bring your idea to life?</h2>
            </div>
        </div>

        <div class="row feedback">
            <legend>
                <h4>Get in touch</h4>
                <p>Describe your issue below. Our manager will contact you as soon as possible.</p>
            </legend>
            <form>
                <div class="col">
                    
                    <div class="form-floating">
                        <input type="name" class="form-control" id="floatingName" placeholder="Name">
                        <label for="floatingName">Name</label>
                    </div>

                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                        <label for="floatingInput">Email</label>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Message" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Message</label>
                    </div>

                    <button type="submit" class="btn">Send</button>
                
                </div> 
            </form>
        </div>
    </div>
  
</section>