<section class="featured-posts">

    <div class="container">

        <div class="row">

            <div class="col align-items-center">
                <h2>You may also like:</h2>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <img src="/pecode.img/Rectangle 228.png"> 
            </div>

            <div class="col">
                <img src="/pecode.img/Rectangle 228 (1).png">
            </div>

            <div class="col">
                <img src="/pecode.img/Rectangle 228 (2).png">
            </div>

        </div>

        <div class="row">

            <div class="col">
                <h3>The truth about ReactJS</h3>
            </div>

            <div class="col">
                <h3>Gaffer. Case Study</h3>
            </div>

            <div class="col">
                <h3>How to solve an unsolvable conflict </h3>
            </div>

        </div>

        <div class="row">

            <div class="col">
                <p>Sigh, it’s like we can’t catch a break. So much has happened over the past.......</p> 
            </div>

            <div class="col">
                <p>Sigh, it’s like we can’t catch a break. So much has happened over the past.......</p>
            </div>

            <div class="col">
                <p>Sigh, it’s like we can’t catch a break. So m.....</p> 
            </div>

        </div>

        <div class="row">

            <div class="col">
                <time>Pecode Team    19.03.2023</time>
            </div>

            <div class="col">
                <time>Pecode Team    19.03.2023</time>
            </div>

            <div class="col">
                <time>Pecode Team    19.03.2023</time>
            </div>

        </div>
    </div>
</section>