<section class="featured-posts">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col">
                <h2>You may also like:</h2>
            </div>

        </div>

        <div class="row">

            <div class="col-1">
                <a class="post-card" href="#">
                    <figure>
                        <div class="image-wrapper">
                            <img src="/pecode.img/Rectangle 228.png"> 
                            <ul class="labels-list">
                                <li>Partner material</li>
                                <li>QA</li>
                                <li>UX/UI</li>
                            </ul>
                        </div>
                        <figcaption>
                            <h3>The truth about ReactJS</h3>
                        
                            <p>Sigh, it’s like we can’t catch a break. So much has happened over the past.......</p> 

                            <div class="post-data">
                                <cite>Pecode Team</cite>
                                <time>19.03.2023</time>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>


            <!-- <div class="col-2">
                    <img src="/pecode.img/Rectangle 228 (1).png"> 
                    <h3>Gaffer. Case Study</h3>

               <p>Sigh, it’s like we can’t catch a break. So much has happened over the past.......</p>

               <cite>Pecode Team</cite>

               <time>19.03.2023</time>

            </div>

            <div class="col-3">
                <figure>
                    <img src="/pecode.img/Rectangle 228 (2).png"> 
                    <figcaption class="h3">How to solve an unsolvable conflict</figcaption>
                </figure>

               <p>Sigh, it’s like we can’t catch a break. So m.....</p> 

               <cite>Pecode Team</cite>

               <time>19.03.2023</time>

            </div> -->
        </div>
    </div>
</section>